@import '@styles/fonts.scss';

$dark: #56546e;
$dark-light: #8785a2;
$light: #f6f6f6;
$light-alt: #ffe5e6;

$bs-dark: 3px 3px 0px 0px #000;
$br-round: 50%;
$br-small: 18px;

$font-nunito: 'Nunito', sans-serif;
